body {
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #f5f5f5;
}
