{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rtxstock</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="{% static 'rtxstock/main.css' %}" type="text/css" />
</head>
<body>
<div id="root">
  <script src="{% static 'index-bundle.js' %}" type="text/javascript"></script>
</div>
</body>
</html>
